---
import { Debug } from "astro/components";

import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import QuestionCard from "../../components/QuestionCard.astro";
import Layout from "../../layouts/main.astro";
import Html from "../../layouts/html.astro";
import CardsList from "../../components/CardsList.astro";

export async function getStaticPaths() {
    // Load your data with fetch(), Astro.glob(), etc.
    const response = await fetch(`${import.meta.env.BACKEND_URL}/broadcast`);
    const result = await response.json();

    return result.map((item) => ({
        params: {
            id: item._id,
        },
    }));
}

const { id } = Astro.params;

const request = await fetch(`${import.meta.env.BACKEND_URL}/broadcast/${id}`);
const data = await request.json();
---

<Html title={data.title} description={data.description}>
    <Layout>
        <Debug data={data} />
        <div>
            <h1>{data.title} le {data.date}</h1>
            <p>{data.description}</p>
            <p>Le {data.date}</p>
        </div>

        <CardsList>
            {
                data.questions.map((item) => (
                    <QuestionCard
                        _id={item._id}
                        title={item.title}
                        question={item.question}
                        answer={item.answer}
                        level={item.level}
                        theme={item.theme}
                    />
                ))
            }
        </CardsList>
    </Layout>
</Html>
