---
import { useStoryblokApi } from "@storyblok/astro";
import Html from "../layouts/html.astro";
import Main from "../layouts/main.astro";
import { Debug } from "astro/components";
import PrimaryButton from "../components/Buttons/PrimaryButton.astro";

const storyblokApi = useStoryblokApi();
// const { data } = await storyblokApi.get("cdn/stories", {
// 	content_type: "question",
// 	version: "published",
// });

const { data } = await storyblokApi.get("cdn/tags", {
	//content_type: "question",
	//version: "published",
});

console.log(data);
---

<Html
	title="Le jeu des mille euros, jeu radiophonique de culture générale depuis 1958"
	description="Ce jeu populaire et familial sillone la France pour vous faire jouer avec vos connaissances de culture générale."
>
	<Main>
		<section class="bg-white dark:bg-gray-900">
			<div
				x-init="document.getElementById('point').scrollIntoView()"
				class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
			>
				<div class="mr-auto place-self-center lg:col-span-7">
					<h1
						class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
					>
						Le Jeu des Mille euros, la culture générale, populaire
						et sympathique
					</h1>
					<p
						class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
					>
						Le jeu des mille euros (et anciènment des 1000 francs)
						parcours la France eet sillone les ondes depuis {
							2023 - 1951
						} ans. Il vous permet de tester vos connaissances en culture
						générales avec les famseuses quesiton bleu, blanche, rouge,
						banco voire super-banco.
					</p>
					<a
						href="#questions"
						class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-red-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
					>
						Voir les questions
						<svg
							class="w-5 h-5 ml-2 -mr-1"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</a>
					<a
						href="#"
						class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
					>
						Recevoir les questions par email
					</a>
				</div>
				<div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
					<img
						src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png"
						alt="mockup"
					/>
				</div>
			</div>
		</section>

		<!-- <Debug data={data} /> -->

		<div class="mt-96 flex flex-col space-y-8" id="questions">
			<div class="">
				<h2>Les dernières émissions :</h2>
			</div>

			<div class="">
				<h2>Les questions par niveau :</h2>
				<div class="flex space-x-2">
					{
						[
							`bleue`,
							`blanche`,
							`rouge`,
							`banco`,
							`super banco`,
						].map((item) => (
							<PrimaryButton target={`/niveau/${item}`}>
								{item}
							</PrimaryButton>
						))
					}
				</div>
			</div>

			<div>
				<h2>Les questions par thème :</h2>
				<div class="flex space-x-2">
					{
						data.tags.map((item) => (
							<PrimaryButton target={`/theme/${item.name}`}>
								{item.name}
							</PrimaryButton>
						))
					}
				</div>
			</div>
		</div>
	</Main>
</Html>
