---
import { Debug } from "astro/components";
import RevealButton from "./RevealButton.astro";
import LevelTag from "./LevelTag.astro";
import ThemeTag from "./ThemeTag.astro";
import ExternalLinkIcon from "./ExternalLinkIcon.astro";
import ShareOnWhatsApp from "./Buttons/ShareOnWhatsApp.astro";
import ShareOnFacebook from "./Buttons/ShareOnFacebook.astro";

const { data } = Astro.props;
const { _id, place, title, date, description } = data;
---

<div
    class="rounded-lg shadow text-black"
    class:list={[
        {
            "bg-gray-300": true,
        },
    ]}
>
    <div
        x-data="{ open: false }"
        class="hover:translate-x-2 transition-transform p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
        <!-- <Debug data={question} /> -->

        <div class="flex justify-between mb-2">
            <div class="grid gap-2 grid-cols-2">
                <div class="flex">
                    <LevelTag level={place} />
                </div>
            </div>
            <div class="grid grid-cols-3 gap-2">
                <ShareOnWhatsApp path={`/emissions/${_id}`} title={title} />
                <ShareOnFacebook path={`/emissions/${_id}`} title={title} />
                <ExternalLinkIcon href={`/emissions/${_id}`} label={title} />
            </div>
        </div>
        <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
            <a href={`/emissions/${_id}`}>
                {title} le {date}
            </a>
        </h5>
        <p>
            {description}
        </p>
        <!-- <a href={`/questions/${id}`}>Lien</a> -->
        <div class="flex justify-between">
            <!-- <RevealButton answer={answer} /> -->
        </div>
    </div>
</div>
