---
import { Debug } from "astro/components";
import RevealButton from "./RevealButton.astro";
import LevelTag from "./LevelTag.astro";
import ThemeTag from "./ThemeTag.astro";
import ExternalLinkIcon from "./ExternalLinkIcon.astro";

const { level, question, answer, theme, id } = Astro.props;
---

<div
    class="rounded-lg shadow"
    class:list={[
        {
            "bg-white": level === 1,
            "bg-blue-500": level === 2,
            "bg-red-500": level === 3,
            "bg-gray-500": level === 4,
            "bg-gray-800": level === 5,
        },
    ]}
>
    <div
        x-data="{ open: false }"
        class="hover:translate-x-2 transition-transform p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
        <!-- <Debug data={question} /> -->

        <div class="flex justify-between mb-2">
            <div class="grid gap-2 grid-cols-2">
                <LevelTag level={level} />
                {theme ? <ThemeTag theme={theme} /> : null}
            </div>
            <ExternalLinkIcon href={`/questions/${id}`} label={question} />
        </div>
        <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
            {question}
        </h5>
        <!-- <a href={`/questions/${id}`}>Lien</a> -->
        <RevealButton answer={answer} />
    </div>
</div>
