---
import { Debug } from "astro/components";
import RevealButton from "./RevealButton.astro";
import LevelTag from "./LevelTag.astro";
import ThemeTag from "./ThemeTag.astro";
import ExternalLinkIcon from "./ExternalLinkIcon.astro";
import ShareOnWhatsApp from "../components/Buttons/ShareOnWhatsApp.astro";
import ShareOnFacebook from "../components/Buttons/ShareOnFacebook.astro";
import { isRenderTemplateResult } from "astro/dist/runtime/server/render/astro";

const { level, title, question, answer, theme, _id } = Astro.props;
---

<div
    class="border-b"
    class:list={[
        {
            "bg-blue-500": level === 1,
            "bg-white": level === 2,
            "bg-red-500": level === 3,
            "bg-gray-500": level === 4,
            "bg-gray-800": level === 5,
        },
    ]}
>
    <div
        x-data="{ open: false }"
        class="hover:translate-x-2 transition-transform p-6 bg-white dark:bg-gray-800 dark:border-gray-700"
    >
        <!-- <Debug data={theme} /> -->

        <div class="grid grid-cols-1 gap-3">
            <div class="flex justify-between">
                <div class="grid gap-2 grid-cols-1">
                    <div class="flex gap-2">
                        <LevelTag level={level} />
                        {theme ? <ThemeTag theme={theme} /> : null}
                    </div>
                </div>
                <div class="flex justify-end gap-2">
                    <ShareOnWhatsApp path={`/questions/${_id}`} title={title} />
                    <ShareOnFacebook path={`/questions/${_id}`} title={title} />
                    {
                        _id ? (
                            <ExternalLinkIcon
                                href={`/questions/${_id}`}
                                label={question}
                            />
                        ) : null
                    }
                </div>
            </div>
            <h3
                class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                {question}
            </h3>
            <!-- <a href={`/questions/${id}`}>Lien</a> -->
            <div class="flex justify-between">
                <RevealButton answer={answer} />
            </div>
        </div>
    </div>
</div>
