---
import Html from "../../layouts/html.astro";
import Main from "../../layouts/main.astro";

import Nav from "../../components/nav.astro";
import RevealButton from "../../components/RevealButton.astro";
import BackButton from "../../components/Buttons/BackButton.astro";
import { Debug } from "astro/components";
import QuestionCard from "../../components/QuestionCard.astro";

export async function getStaticPaths() {
    // Load your data with fetch(), Astro.glob(), etc.
    const response = await fetch(`${import.meta.env.BACKEND_URL}/question`);
    const result = await response.json();

    return result.map((item) => ({
        params: {
            id: item._id,
        },
    }));
}

const { id } = Astro.params;

const request = await fetch(`${import.meta.env.BACKEND_URL}/question/${id}`);
const data = await request.json();
---

<Html
    title={data.title}
    description={data.question}
    ogImage={`${import.meta.env.BACKEND_URL}/question/media/${id}`}
    canonical={`/questions/${id}`}
>
    <Main>
        <!-- <h1 class="text-3xl mb-4">{body.question}</h1> -->
        <div class="mb-4">
            <BackButton />
        </div>
        <QuestionCard
            isSingle={true}
            question={data.question}
            answer={data.answer}
            level={data.level}
            theme={data.theme}
        />
    </Main>
</Html>
