---
import Html from "../../layouts/html.astro";
import Main from "../../layouts/main.astro";

import { Debug } from "astro/components";
import QuestionCard from "../../components/QuestionCard.astro";
import Pagination from "../../components/Pagination.astro";
import CardsList from "../../components/CardsList.astro";

export async function getStaticPaths({ paginate }) {
    const response = await fetch(`${import.meta.env.BACKEND_URL}/question`);
    const result = await response.json();
    return paginate(result, { pageSize: 2 });
}

const { page } = Astro.props;
---

<Html
    title={`Questions de culture générale, les questions du jeu des milles euros - page ${page.currentPage}`}
    description="Questions multi-thématique de culture générale pour vous mettre au défi"
    canonical="/questions"
>
    <Main>
        <h1
            class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
        >
            Questions de culture générale
        </h1>
        <div class="flex justify-between py-4 text-gray-400">
            <div>
                <button
                    class="flex items-center border py-3 px-4 rounded-full text-gray-700 bg-white shadow-sm font-medium text-sm"
                >
                    <svg
                        class="mr-2"
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 16 16"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                        ></path></svg
                    >
                    Filter par thème ou niveau
                </button>
            </div>
            <div>
                Page {page.currentPage} / {page.lastPage}
            </div>
        </div>

        <CardsList>
            {
                page.data.map((item) => (
                    <QuestionCard
                        level={item.level}
                        question={item.question}
                        answer={item.answer}
                        theme={item.theme}
                        _id={item._id}
                    />
                ))
            }
        </CardsList>

        <!-- <Debug data={page} /> -->
        <Pagination data={page} />
        <!-- <div class="flex py-3 gap-4">
            {page.url.prev ? <a href={page.url.prev}>Page précédente</a> : null}
            {page.url.prev && page.url.next ? <div>•</div> : null}
            {page.url.next ? <a href={page.url.next}>Page suivante</a> : null}
        </div> -->
    </Main>
</Html>
