---
import { useStoryblokApi } from "@storyblok/astro";
import { Debug } from "astro/components";

import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import QuestionCard from "../../components/QuestionCard.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const sbApi = useStoryblokApi();

    const { data } = await sbApi.get("cdn/stories", {
        content_type: "emission",
        version: "published",
    });

    const stories = Object.values(data.stories);

    console.log(stories);

    return stories.map((story) => {
        return {
            params: { slug: story.slug },
        };
    });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;

const { data } = await sbApi.get(`cdn/stories/emissions/${slug}`, {
    resolve_relations: `emission.questions`,
    // version: "draft",
});
const story = data.story;
---

<Layout title={story.name} bgColor={`red-600`}>
    <div>emission</div>
    <div>{story.content.title}</div>
    <div>{story.content.answer}</div>

    <div class="flex flex-col space-y-8 items-center">
        {
            story.content.questions.map((item) => (
                // <Debug data={item} />
                <QuestionCard
                    level={item.content.level}
                    question={item.content.question}
                    answer={item.content.answer}
                    slug={item.full_slug}
                />
            ))
        }
    </div>
</Layout>
