---
import { useStoryblokApi } from "@storyblok/astro";
import { Debug } from "astro/components";

import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import QuestionCard from "../../components/QuestionCard.astro";

export async function getStaticPaths() {
    const sbApi = useStoryblokApi();

    const { data } = await sbApi.get("cdn/stories", {
        content_type: "emission",
        version: "published",
    });

    const stories = Object.values(data.stories);

    console.log(stories);

    return stories.map((story) => {
        return {
            params: { slug: story.slug },
        };
    });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;

const { data } = await sbApi.get(`cdn/stories/emissions/${slug}`, {
    resolve_relations: `emission.questions`,
    // version: "draft",
});
const story = data.story;

// console.log(story.content.questions);

// const questions = await sbApi.get(
//     // `cdn/stories/${story.content.questions[0]}?find_by=uuid`,
//     `/v2/cdn/stories/d9399fd9-6264-4337-bbfb-0e65e91519a4/?find_by=uuid`,
//     {
//         // findBy: "uuid",
//         // find_by: "uuid",
//         version: "published",
//     }
// );

console.log(story.content);
// console.log(questions.data);
---

<html lang="fr">
    <meta charset="UTF8" />

    <title>{story.name}</title>

    <meta name="description" content={story.name} />

    <body>
        <div>emission</div>
        <div>{story.content.title}</div>
        <div>{story.content.answer}</div>

        <div class="flex flex-col space-y-8 items-center">
            {
                story.content.questions.map((item) => (
                    // <Debug data={item} />
                    <QuestionCard
                        level={item.content.level}
                        question={item.content.question}
                        answer={item.content.answer}
                        slug={item.full_slug}
                    />
                ))
            }
        </div>

        <!-- <StoryblokComponent blok={story.content} /> -->
        <!-- <div>{story.content}</div> -->
    </body>
</html>
