---
import { Schema } from "astro-seo-schema";

export interface Props {
    title: string;
    description: string;
    ogImage: string;
    canonical: string;
    questionSchema: object;
}

const { title, description, ogImage, canonical, questionSchema } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
        <meta name="og:title" content={title} />
        <meta name="og:image" content={`${ogImage}`} />
        {
            canonical ? (
                <link
                    rel="canonical"
                    href={`${import.meta.env.URL}${canonical}`}
                />
            ) : null
        }
        {questionSchema ? <Schema item={questionSchema} /> : null}
        <slot />
    </head>


</html>
